* {
  margin: 0;
  padding: 0;

  background: none;
}

.page-background {
  min-height: 100vh;
  box-sizing: border-box;

  background-image:url("../image/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  opacity: 0.99;
}

.page-content {
  padding: 23px 15px;
}

.page-title {
  padding-left: 2px;
  padding-bottom: 24px;

  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1px;
  margin: 0 auto;
  max-width: 288px;
}

.room {
  position: relative;

  display: flex;
  height: 347px;
  margin-bottom: 32px;
  justify-content: center;

  border-radius: 13px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0A2240 100%);
}

.room:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.room__container:hover .discount {
  display: flex;
}

.discount {
  position: absolute;
  top: 24px;
  left: 24px;

  display: none;
  padding-right: 27px;

  background-image: url("../image/icon-discount.png");
  background-position: right;
  background-repeat: no-repeat;
}

.room__reserved .discount {
  display: none!important;
}

.discount__text {
  padding: 6px 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", serif;
  color: #FFFFFF;

  background-color: #FF7647;
}

.room__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 21px 21px;
}

.room__photo {
  position: absolute;
  z-index: -1;

  height: 100%;

  background-color: #2D507C;
}

.room__description {
  margin-bottom: 17px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.room__title {
  display: -webkit-box;
  margin-bottom: 11px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #FFFFFF;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.room__title:hover {
  text-decoration: underline;
}

.room__title:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.room__text {
  display: -webkit-box;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", serif;
  color: #FFFFFF;

  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reserve__text {
  display: block;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", serif;;
  color: #FFFFFF;
}

.reserve__text_from {
  font-size: 17px;
  line-height: 24px;
}

.reserve__text_price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  font-family: "Roboto", serif;
  color: #FF4B77;
}

.reserve__text_rub {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  font-family: "Roboto", serif;
  color: rgba(255, 255, 255, 0.6);
}

.reserve__btn {
  display: block;
  padding: 8px 0 10px 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", serif;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;

  background-color: #F91155;
  border-radius: 3px;
}

.reserve__btn:hover {
  background-color: #D8003F;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.reserve__btn:active {
  color: #F9637C;

  background-color: #D8003F;
}

.room_reserved .room__container{
  background-color: rgba(255, 255, 255, 0.4);
}

.room_reserved .reserved {
  display: block;
}

.reserved {
  position: absolute;
  bottom: 0;

  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 54px 20px;

  background-color: #3C3E43;
}

.reserved__text {
  display: -webkit-box;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", serif;
  text-align: center;
  color: #FFFFFF;


  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reserved__text_link {
  text-decoration: none;
  color: #FF4B77;
}

.reserved__text_link:hover {
  text-decoration: underline;
}

.reserved__text_link:active {
  text-decoration: none;
  color: #FF97B0;
}

@media all and (min-width: 768px) {
  .page-content {
    padding: 28px 20px;
  }

  .page-title {
    padding-bottom: 26px;

    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
  }

  .rooms {
    flex-flow: row wrap;
    max-width: 728px;
  }

  .room {
    width: 336px;
    height: 420px;
    margin-bottom: 37px;

    border-radius: 10px;
  }

  .room__container {
    padding: 0 24px 24px;
  }

  .room__description {
    margin-bottom: 16px;
  }

  .room__title {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 32px;
  }

  .room__text {
    margin-bottom: 21px;

    font-size: 16px;
    line-height: 24px;
  }

  .reserve__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 24px;
  }

  .reserve__text_from {
    font-size: 19px;
  }

  .reserve__text_price {
    margin-left: 2px;

    font-size: 24px;
  }

  .reserve__text_rub {
    margin-left: 1px;

    font-size: 23px;
  }

  .reserve__btn {
    padding: 11px 0 13px 3px;

    letter-spacing: 1px;
    font-size: 15px;

    border-radius: 4px;
  }

  .reserved {
    padding: 60px 20px ;
  }
}

@media all and (min-width: 1280px) {
  .page-content {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-title {
    padding-left: 15px;
    padding-bottom: 27px;
  }

  .rooms {
    padding: 0;
    max-width: 1212px;
    min-width: 1212px;
    justify-content: flex-start;

  }

  .room {
    width: 372px;
    height: 372px;
    margin: 0 16px 34px;

    border-radius: 12px;
  }

  .room__container {
    padding-bottom: 22px;
  }

  .room__description {
    margin-bottom: 17px;
  }

  .reserve {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .reserve__text {
    margin-bottom: 0;
  }

  .reserve__btn {
    padding: 11px 22px 13px 22px;
    margin-bottom: 2px;
  }

  .reserved {
    padding: 25px 0 29px;
  }
}